
{% form_theme form "bootstrap_4_layout.html.twig" %}
<div class="card mt-4">
    <div class="card-header">
        Добавить коментраии
    </div>
    <div class="card-body">

        {{ form_start(form) }}
        <div class="form-group">
            <label for="textarea">{{ form_label(form.author) }}</label>
            {{ form_widget(form.author) }}
        </div>
        <div class="form-group">
            <label for="textarea">{{ form_label(form.content) }}</label>
            {{ form_widget(form.content) }}
        </div>
        <button type="submit" class="btn btn-success my-2">Сохранить</button>
        {{ form_end(form) }}

    </div>
</div>
